// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Primary and Secondary Colors
$primary: #6a9fb5;
$secondary: #a3b99c;
$accent: #8a9a5b;

// Darker Tones
$dark: #3b5a73;
$dark-page: #4a6a72;

// Light Mode Background
$body-background: #e7f3f2;

// UI Elements
$positive: #6b8e23;
$negative: #8b4513;
$info: #5f7f7f;
$warning: #c19a6b;
